<!--The content below is only a placeholder and can be replaced.-->
<form class="container"
  [formGroup] = "form">
  <h1>Base Converter</h1>
  <input type = "text"
         name="kazakh"
         (ngModelChange) = "alphabetChanged(oldValue = $event, newValue)"
         placeholder="kazakh"
         formControlName="kazakh">
         <!-- decimal = kazakh -->
  <br>
  <input type = "text"
         name="qazaq"
         placeholder="qazaq"
         formControlName="qazaq">
         <!-- binary = qazaq -->
</form>
